<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <meta charset="utf-8">
  <title>Work · Guy Proops</title>
</head>
<body>
<div id="menu">
<span class="title">Guy Proops</span>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/bookshelf">Bookshelf</a></li>
  <li><a href="/work">Work</a></li>
</ul>
</div>
<div id="left">&nbsp;</div>
<div id="content">
<h1>Work</h1>
<p>Here's some highlight's from my career to date...</p>
<h2>Plum</h2>
<p>At Plum I was the Product Manager responsible for the Plum's subscription offering (Plum
  Plus and Plum Pro). When I started we had 10-15% of new customers subscribing. During my
   time at Plum we increased this to 25-30% of new users.
  <h3> Some cool features I worked on</h3>
  <ul>
    <li><b>Diagnostics</b>: delivers a monthly report that contextualises spending by looking at user habits by category and benchmarks spending against other users with a similar financial profile (based on factors such as salary, location and age)</li>
  </ul>
  <img src="/static/diagnostics1.jpg" height="230">
  <img src="/static/diagnostics2.jpg" height="230">
  <ul>
    <li><b>True Balance</b>: takes some of the guess-work out of budgeting for users by giving them a rolling account balance which has been adjusted to provide a true financial picture (i.e. once any bills or other forecasted payments have also been considered)</li>
  </ul>
  <img src="/static/truebalance.jpg" height="230">
  <ul>
    <li><b>Pay Days</b>: lets as user specify when they get paid, and suggests and amount (5-10% of users salary) to automatically deposit to their Plum account</li>
  </ul>
  <img src="/static/plumpaydays.jpg" height="230">
  <ul>
    <li><b>Interest accounts</b>: users can receive 0.6% interest on their Plum savings</li>
    <li><b>Faster payments</b>: enabled faster payments service (via Open Banking) so users can deposit instantly into their Plum account</li>
  </ul>

<h2>Spaceship</h2>
<p>At Spaceship I was a Product Manager and then the Head of Product. During my time at Spaceship
  I helped with the development and launch of Voyager, Spaceship's full-stack investment app.
  When I left Spaceship it had 50,000 customers and $40m under management.</p>
  <img src="/static/spaceship.jpg" height="230">
  <p></p>
</div>
</body>
</html>
