<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
    <title>About · Guy Proops</title>
</head>
<body>
    <div id="menu">
        <span class="title">Guy Proops</span>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>

            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/bookshelf">Bookshelf</a>
            </li>
            <li>
                <a href="/work">Work</a>
            </li>
        </ul>
    </div>
    <div id="left">&nbsp;</div>
    <div id="content">
        <div id="content">

            <img src="/static/profile.jpg" height="130">

            <p>
                I live in London and am currently on sabbatical as I try and figure out what I want to do next. I grew up in New Zealand and studied Law & English at Victoria University. From there I joined Uber in Melbourne
                where I was one of the early employees trying to scale UberX in an unregulated and sometimes hostile rideshare
                market. From there I joined <a href="https://www.spaceship.com.au">Spaceship</a> as employee ~6 where I helped grow the business to over 45,000 customers
                and $200m in AUM, when I left in 2019. Most recently I was a Product Manager at <a href="https://withplum.com">Plum</a> where I was responsible
                for the subscription products (Plum Pro & Plum Plus).
            </p>

            <p>
                Email:
                <a href="mailto:guy.proops@gmail.com">guy.proops@gmail.com</a>
            </p>

            <h3>Elsewhere</h3>

            <p class="notop">
                <a href="https://github.com/theprup">theprup</a>
                 on GitHub;
                <a href="https://twitter.com/g_proops">g_proops</a>
                 on Twitter;
            </p>

            <h3>Talks</h3>

            <p class="notop">I gave a talk at Product School in London in 2019 on how to succeed in Product Management
             coming from a non-technical background:</p>

            <ul>
                <li>
                    <a href="https://www.slideshare.net/GuyProops/how-to-be-a-successful-nontechnical-product-manager">How to be a successful non-tech PM</a>
                </li>

        </div>

    </div>
</body>
</html>
