<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
    <title>Bookshelf · Guy Proops</title>
</head>
<body>
    <div id="menu">
        <span class="title">Guy Proops</span>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="/bookshelf">Bookshelf</a>
            </li>
            <li>
                <a href="/work">Work</a>
            </li>
        </ul>
    </div>
    <div id="left">&nbsp;</div>
    <div id="content">
        <h1>Bookshelf</h1>

        <p>
            After studying English at University and being "forced" to read I
            fell out of love with reading. However, the influence of my good friend
            <a href="https://abi.substack.com">Abi</a> reignited my passion for reading and broadened
            my tastes. Below is a list of books I've read over the last few years as well as
            books sitting on my shelf ready to be picked up next. If you're ever looking for a good book
            I highly recommend checking out <a href="https://www.goodbooks.io">goodbooks</a> (h/t <a href="https://www.jordanhughes.co">Jordan Hughes</a>)
        </p>
        <h3>Currently reading</h3>
        <ul>
            <li>
                <a href="https://www.amazon.co.uk/dp/1544512287">Can't Hurt Me:</a>
                Master Your Mind and Defy the Odds
            </li>
            <li>
              <a href="https://www.amazon.co.uk/dp/0241289084">Breath:</a>
               The New Science of a Lost Art
            </li>
          </ul>
            <p></p>
            <h3>Up next</h3>
            <ul>
            <li>
                    <a href="https://www.amazon.co.uk/dp/0060957514/">From Third World to First:</a>
                     Singapore and the Asian Economic Boom
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0691168881">A Culture of Growth:</a>
                 The Origins of the Modern Economy
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1577315936">The Hero with A Thousand Faces (The Collected Works of Joseph Campbell)</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0226113477">Something Incredibly Wonderful Happens:</a>
                 Frank Oppenheimer And His Astonishing Exploratorium
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0140125051">QED - The Strange Theory of Light and Matter</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0140449159">The Prince</a>
            </li>
          </ul>
          <p></p>
          <h3>Read in 2020</h3>
          <ul>
            <li>
              <a href="https://www.amazon.co.uk/dp/1843547058">American Prometheus:</a>
             The Triumph and Tragedy of J. Robert Oppenheimer
           </li>
            <li>
                    <a href="https://www.amazon.co.uk/dp/1430243147">Managing Humans:</a>
                     Biting and Humorous Tales of a Software Engineering Manager
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0241422159">The Man Who Solved the Market:</a>
                 How Jim Simons Launched the Quant Revolution
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0008353743">Lifespan:</a>
                 Why We Age – and Why We Don’t Have To
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0099842602/">Breakfast Of Champions</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0140442103">Letters from a Stoic:</a>
                 Epistulae Morales Ad Lucilium
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1847947158">Superforecasting:</a>
                 The Art and Science of Prediction
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1849017034">Empire of the Summer Moon:</a>
                 Quanah Parker and the Rise and Fall of the Comanches, the Most Powerful Indian Tribe in American History
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1509870156">Less Than Zero</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1861972784/">The 48 Laws Of Power</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1847923658">The Power Broker:</a>
                 Robert Moses and the Fall of New York
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1847941834/">Atomic Habits</a>
            </li>
            <li>
                    <a href="https://www.amazon.co.uk/dp/0099765217">Fight Club</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0349411905">Deep Work:</a>
                 Rules for Focused Success in a Distracted World
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0099302780">Guns, Germs and Steel:</a>
                 A short history of everybody for the last 13,000 years
            </li>
          </ul>
          <p></p>
          <h3>Read in 2019</h3>
          <ul>
            <li>
                <a href="https://www.amazon.co.uk/dp/0099530325">What We Talk About When We Talk About Love</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0099908409">The Old Man and the Sea</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1474607438">Ubik</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0241197791">The Trial</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0753555204">Zero to One:</a>
                 Notes on Start Ups, or How to Build the Future
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1784703931">Homo Deus:</a>
                 A Brief History of Tomorrow
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1948122340">Little Black Stretchy Pants:</a>
                 The Unauthorized Story of Lululemon
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1439198713">We Learn Nothing:</a>
                 Essays
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141033401">Where Good Ideas Come From:</a>
                 The Seven Patterns of Innovation
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0099908603">For Whom The Bell Tolls</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1591843472">The Score Takes Care Of Itself:</a>
                 My Philosophy of Leadership
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/022409162X">The Sports Gene:</a>
                 Talent, Practice and the Truth About Success
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0099910101">A Farewell To Arms</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1509843493">Range:</a>
                 How Generalists Triumph in a Specialized World
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1788162056">Stillness is the Key:</a>
                 An Ancient Strategy for Modern Life
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1844132390">Man's Search For Meaning:</a>
                 The classic tribute to hope from the Holocaust
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141988495">Talking to Strangers:</a>
                 What We Should Know about the People We Don’t Know
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141034599">The Black Swan:</a>
                 The Impact of the Highly Improbable
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/006073731X">Not Fade Away:</a>
                 A Short Life Well Lived
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141040017">Nudge:</a>
                 Improving Decisions About Health, Wealth and Happiness
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0231162847">The Most Important Thing Illuminated:</a>
                 Uncommon Sense for the Thoughtful Investor
            </li>
          </ul>
          <p></p>
          <h3>Read in 2018</h3>
          <ul>
            <li>
                <a href="https://www.amazon.co.uk/dp/0735219737">Win Bigly:</a>
                 Persuasion in a World Where Facts Don't Matter
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0099561549">Stoner</a>
            </li>
            <li>
                    <a href="https://www.amazon.co.uk/dp/0743277465">The Art of Learning:</a>
                     An Inner Journey to Optimal Performance
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141033576">Thinking, Fast and Slow</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141031484">Fooled by Randomness:</a>
                 The Hidden Role of Chance in Life and in the Markets
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0470073942">Fooling Some of the People All of the Time:</a>
                 A Long Short Story
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141189576">Siddhartha</a>
            </li>
          </ul>
          <p></p>
          <h3>Miscellaneous books from uni/high school</h3>
          <ul>
            <li>
                <a href="https://www.amazon.co.uk/dp/0241956285">The Big Sleep</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0330536303">American Psycho</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141198060">The Outsider</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0099289520">Disgrace</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1471127389">The Burgess Boys</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/1989201202">Heart of Darkness</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0151015457">Your Republic Is Calling You</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141189673">And the Hippos Were Boiled in Their Tanks</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0099564971">The Sense of an Ending</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141187883">One Flew Over the Cuckoo's Nest</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0679785892">Fear and Loathing in Las Vegas:</a>
                 A Savage Journey to the Heart of the American Dream
            </li>
            <li>
                    <a href="https://www.amazon.co.uk/dp/0571239730">The Brief Wondrous Life of Oscar Wao</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0141023384">Things Fall Apart</a>
            </li>
            <li>
                    <a href="https://www.amazon.co.uk/dp/0099465892">Trainspotting</a>
            </li>
            <li>
                    <a href="https://www.amazon.co.uk/dp/2729121676">Wulf</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0330468464">The Road</a>
            </li>
            <li>
                    <a href="https://www.amazon.co.uk/dp/0571258093">Never Let Me Go</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0099744414">Reading in the Dark</a>
            </li>
            <li>
                <a href="https://www.amazon.co.uk/dp/0007327935">DOWN AND OUT IN THE MAGIC KINGDOM</a>
            </li>
        </ul>

        <p>
            Got recommendations?
            <a href="mailto:guy.proops@gmail.com">Drop me a note</a>
            !
        </p>

    </div>
</body>
</html>
