<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <meta charset="utf-8">
  <title>Home · Guy Proops</title>
</head>
<body>
<div id="menu">
<span class="title">Guy Proops</span>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/bookshelf">Bookshelf</a></li>
  <li><a href="/links">Links</a></li>
  <li><a href="/people">People</a></li>
  <li><a href="/work">Work</a></li>
</ul>
</div>
<div id="left">&nbsp;</div>
<div id="content">

</div>
</body>
</html>
