<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <meta charset="utf-8">
  <title>Links · Guy Proops</title>
</head>
<body>
<div id="menu">
<span class="title">Guy Proops</span>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/bookshelf">Bookshelf</a></li>
  <li><a href="/links">Links</a></li>
  <li><a href="/people">People</a></li>
  <li><a href="/work">Work</a></li>
</ul>
</div>
<div id="left">&nbsp;</div>
<div id="content">
<div id="content">

<p>The links post is an underrated artifact. These people produce links roundups that I particularly enjoy. Know of any that I'm missing? <a href="mailto:patrick@collison.ie">Let me know</a>!</p>

<ul>
  <li><a href="http://slatestarcodex.com/tag/links-2/">Scott Alexander</a></li>
  <li><a href="https://judithcurry.com/category/week-in-review/">Judith Curry</a></li>
  <li><a href="https://guzey.com/knowledge/links/">Alexey Guzey</a></li>
  <li><a href="https://www.gwern.net/tags/newsletter">Gwern</a></li>
  <li><a href="https://lemire.me/blog/">Dan Lemire</a>. (Science news posts; weekly-ish.)</li>
  <li><a href="http://lukemuehlhauser.com/">Luke Muehlhauser</a>. (Can't link only to his quarterly posts.)</li>
  <li><a href="https://marginalrevolution.com/?s=assorted+links">Marginal Revolution</a>.</li>
  <li><a href="https://nintil.com/">Jose Luis Ricón</a></li>
  <li><a href="https://jakeseliger.com/tag/links/">Jake Seliger</a></li>
</ul>

</div>

</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2393307-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
