<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <meta charset="utf-8">
  <title>People · Guy Proops</title>
</head>
<body>
<div id="menu">
<span class="title">Guy Proops</span>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/bookshelf">Bookshelf</a></li>
  <li><a href="/links">Links</a></li>
  <li><a href="/people">People</a></li>
  <li><a href="/work">Work</a></li>
</ul>
</div>
<div id="left">&nbsp;</div>
<div id="content">
<p>Some people whom I know/have worked with that are weapons and internet people who are interesting and worth following</a>.</p>

<ul>
  <li>
      <a href="https://www.scottaaronson.com/blog/">Scott Aaronson</a>

  </li>
  <li>
      <a href="http://slatestarcodex.com">Scott Alexander</a>

      (<a href="https://twitter.com/slatestarcodex">twitter</a>)
  </li>
  <li>
      <a href="http://blog.pmarca.com">Marc Andreessen</a>

      (<a href="https://twitter.com/pmarca">twitter</a>)
  </li>
  <li>
      <a href="http://arnoldfoundation.org">John Arnold</a>

      (<a href="https://twitter.com/JohnArnoldFndtn">twitter</a>)
  </li>
  <li>
      <a href="https://harshitaarora.com/">Harshita Arora</a>

      (<a href="https://twitter.com/aroraharshita33">twitter</a>)
  </li>
  <li>
      <a href="http://juan.benet.ai/">Juan Benet</a>

      (<a href="https://twitter.com/juanbenet">twitter</a>)
  </li>
  <li>
      <a href="http://sb.longnow.org/SB_homepage/Home.html">Stewart Brand</a>

      (<a href="https://twitter.com/stewartbrand">twitter</a>)
  </li>
  <li>
      <a href="http://econlog.econlib.org/">Bryan Caplan</a>

      (<a href="https://twitter.com/bryan_caplan">twitter</a>)
  </li>
  <li>
      <a href="http://mclem.org">Michael Clemens</a>

      (<a href="https://twitter.com/m_clem">twitter</a>)
  </li>
  <li>
      <a href="http://www.johncollison.ie/">John Collison</a>

      (<a href="https://twitter.com/collision">twitter</a>)
  </li>
  <li>
      <a href="https://srconstantin.wordpress.com/">Sarah Constantin</a>

  </li>
  <li>
      <a href="http://marginalrevolution.com">Tyler Cowen</a>

      (<a href="https://twitter.com/tylercowen">twitter</a>)
  </li>
  <li>
      Adam D&#x27;Angelo

      (<a href="https://twitter.com/adamdangelo">twitter</a>)
  </li>
  <li>
      <a href="https://salonium.wordpress.com/">Saloni Dattani</a>

      (<a href="https://twitter.com/salonium">twitter</a>)
  </li>
  <li>
      <a href="https://www.ldeming.com/">Laura Deming</a>

      (<a href="https://twitter.com/laurademing">twitter</a>)
  </li>
  <li>
      <a href="http://www.daviddeutsch.org.uk/">David Deutsch</a>

      (<a href="https://twitter.com/DavidDeutschOxf">twitter</a>)
  </li>
  <li>
      <a href="http://nxhx.org/">Joe Edelman</a>

      (<a href="https://twitter.com/edelwax">twitter</a>)
  </li>
  <li>
      <a href="http://nadiaeghbal.com">Nadia Eghbal</a>

      (<a href="https://twitter.com/nayafia">twitter</a>)
  </li>
  <li>
      <a href="https://www.theatlantic.com/author/james-fallows/">James Fallows</a>

      (<a href="https://twitter.com/JamesFallows">twitter</a>)
  </li>
  <li>
      <a href="http://www.dianafleischman.com/">Diana Fleischman</a>

      (<a href="https://twitter.com/sentientist">twitter</a>)
  </li>
  <li>
      <a href="http://nat.org">Nat Friedman</a>

      (<a href="https://twitter.com/natfriedman">twitter</a>)
  </li>
  <li>
      <a href="https://juliagalef.com">Julia Galef</a>

      (<a href="https://twitter.com/juliagalef">twitter</a>)
  </li>
  <li>
      <a href="http://blog.eladgil.com">Elad Gil</a>

      (<a href="https://twitter.com/eladgil">twitter</a>)
  </li>
  <li>
      <a href="http://paulgraham.com">Paul Graham</a>

      (<a href="https://twitter.com/paulg">twitter</a>)
  </li>
  <li>
      <a href="https://blogs.harvard.edu/philg/">Phil Greenspun</a>

      (<a href="https://twitter.com/PhilipGreenspun">twitter</a>)
  </li>
  <li>
      <a href="https://scholars-stage.blogspot.com">Tanner Greer</a>

      (<a href="https://twitter.com/Scholars_Stage">twitter</a>)
  </li>
  <li>
      <a href="https://dcgross.com/">Daniel Gross</a>

      (<a href="https://twitter.com/danielgross">twitter</a>)
  </li>
  <li>
      <a href="http://gwern.net">Gwern</a>

      (<a href="https://twitter.com/gwern">twitter</a>)
  </li>
  <li>
      <a href="http://www.overcomingbias.com/">Robin Hanson</a>

      (<a href="https://twitter.com/robinhanson">twitter</a>)
  </li>
  <li>
      <a href="https://www.kcl.ac.uk/sspp/departments/politicaleconomy/people/academic/howes.aspx">Anton Howes</a>

      (<a href="https://twitter.com/antonhowes">twitter</a>)
  </li>
  <li>
      <a href="http://www.vpri.org/writings.php">Alan Kay</a>

  </li>
  <li>
      <a href="http://kk.org/">Kevin Kelly</a>

      (<a href="https://twitter.com/kevin2kelly">twitter</a>)
  </li>
  <li>
      <a href="http://www.arnoldkling.com/blog/">Arnold Kling</a>

      (<a href="https://twitter.com/KlingBlog">twitter</a>)
  </li>
  <li>
      <a href="http://masonhartman.com">Mason Hartman</a>

      (<a href="https://twitter.com/webdevmason">twitter</a>)
  </li>
  <li>
      <a href="https://clairelehmann.net/">Claire Lehmann</a>

      (<a href="https://twitter.com/clairlemon">twitter</a>)
  </li>
  <li>
      <a href="https://lemire.me/">Daniel Lemire</a>

      (<a href="https://twitter.com/lemire">twitter</a>)
  </li>
  <li>
      <a href="http://newworldeconomics.com/category/traditional-city-post-heroic-materialism/">Nathan Lewis</a>

      (<a href="https://twitter.com/NathanNWE">twitter</a>)
  </li>
  <li>
      <a href="https://blogs.sciencemag.org/pipeline/">Derek Lowe</a>

      (<a href="https://twitter.com/Dereklowe">twitter</a>)
  </li>
  <li>
      <a href="https://andymatuschak.org/">Andy Matuschak</a>

      (<a href="https://twitter.com/andy_matuschak">twitter</a>)
  </li>
  <li>
      <a href="https://www.bloomberg.com/view/contributors/megan-mcardle">Megan McArdle</a>

      (<a href="https://twitter.com/asymmetricinfo">twitter</a>)
  </li>
  <li>
      <a href="http://www.kalzumeus.com/">Patrick McKenzie</a>

      (<a href="https://twitter.com/patio11">twitter</a>)
  </li>
  <li>
      <a href="http://michaelnielsen.org/">Michael Nielsen</a>

      (<a href="https://twitter.com/michael_nielsen">twitter</a>)
  </li>
  <li>
      <a href="https://www.newyorker.com/contributors/evan-osnos">Evan Osnos</a>

      (<a href="https://twitter.com/eosnos">twitter</a>)
  </li>
  <li>
      <a href="https://medium.com/@m0nologuer">Saku Panditharatne</a>

      (<a href="https://twitter.com/sknthla">twitter</a>)
  </li>
  <li>
      <a href="https://www.psychologytoday.com/experts/kaja-perina">Kaja Perina</a>

      (<a href="https://twitter.com/kajaperina">twitter</a>)
  </li>
  <li>
      <a href="https://pseudoerasmus.com/">Pseudoerasmus</a>

      (<a href="https://twitter.com/pseudoerasmus">twitter</a>)
  </li>
  <li>
      <a href="https://nintil.com/">José Luis Ricón</a>

      (<a href="https://twitter.com/artirkel">twitter</a>)
  </li>
  <li>
      <a href="https://drodrik.scholar.harvard.edu">Dani Rodrik</a>

      (<a href="https://twitter.com/rodrikdani">twitter</a>)
  </li>
  <li>
      <a href="https://jakeseliger.com">Jake Seliger</a>

      (<a href="https://twitter.com/seligerj">twitter</a>)
  </li>
  <li>
      <a href="http://www.meltingasphalt.com/">Kevin Simler</a>

      (<a href="https://twitter.com/kevinsimler">twitter</a>)
  </li>
  <li>
      <a href="https://foundersfund.com/anatomy-of-next/">Michael Solana</a>

      (<a href="https://twitter.com/micsolana">twitter</a>)
  </li>
  <li>
      <a href="http://noahpinionblog.blogspot.com/">Noah Smith</a>

      (<a href="https://twitter.com/noahpinion">twitter</a>)
  </li>
  <li>
      <a href="http://weatherwest.com">Daniel Swain</a>

      (<a href="https://twitter.com/Weather_West">twitter</a>)
  </li>
  <li>
      <a href="http://rivatez.com/">Riva Tez</a>

      (<a href="https://twitter.com/rivatez">twitter</a>)
  </li>
  <li>
      <a href="http://stratechery.com">Ben Thompson</a>

      (<a href="https://twitter.com/benthompson">twitter</a>)
  </li>
  <li>
      <a href="https://destraynor.com/">Des Traynor</a>

      (<a href="https://twitter.com/destraynor">twitter</a>)
  </li>
  <li>
      <a href="http://worrydream.com/">Bret Victor</a>

      (<a href="https://twitter.com/worrydream">twitter</a>)
  </li>
  <li>
      <a href="http://interfluidity.com">Steve Randy Waldman</a>

      (<a href="https://twitter.com/interfluidity">twitter</a>)
  </li>
  <li>
      <a href="http://danwang.co">Dan Wang</a>

      (<a href="https://twitter.com/danwwang">twitter</a>)
  </li>
  <li>
      <a href="http://eugenewei.com">Eugene Wei</a>

      (<a href="https://twitter.com/eugenewei">twitter</a>)
  </li>
  <li>
      <a href="http://www.eric-weinstein.net/">Eric Weinstein</a>

      (<a href="https://twitter.com/EricRWeinstein">twitter</a>)
  </li>
  <li>
      <a href="http://www.annawiener.com/writing">Anna Wiener</a>

      (<a href="https://twitter.com/annawiener">twitter</a>)
  </li>
  <li>
      <a href="http://blog.stephenwolfram.com">Stephen Wolfram</a>

      (<a href="https://twitter.com/stephen_wolfram">twitter</a>)
  </li>
  <li>
      <a href="http://devonzuegel.com/">Devon Zuegel</a>

      (<a href="https://twitter.com/devonzuegel">twitter</a>)
  </li>
</ul>

</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2393307-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
